{% extends "admin/base_site.html" %}

{% load static %}

{% block extrahead %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-chrome-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#0194fe">
  <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
  <meta name="msapplication-TileColor" content="#0194fe">
  <meta name="msapplication-TileImage" content="{% static 'favicon/mstile-144x144.png' %}">
  <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">
  <meta name="theme-color" content="#ffffff">
{% endblock %}