{% extends "users/base.html" %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col-md-5 my-3 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-gold text-center mb-3"><b>{% trans "Enter your new password" %}</b></h5>
          <form method="post">
            {% csrf_token %}
            <div class="form-label-group">
              <input type="password" name="password" id="id_password_change" class="form-control form-control-gold" placeholder="{% trans 'New password:' %}" required>
              <label for="id_password_change">{% trans 'New password:' %}</label>
            </div>
            <button type="submit" class="btn btn-block btn-theme bg-primary-1 text-white border-0">{% trans "Change password" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{{ block.super }}
{{ form.media }}
{% endblock %}