{% extends "users/base.html" %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col-md-5 my-3 mx-auto">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-gold mb-3"><b>{% trans "Your password has been successfully set!" %}</b></h5>
          <a href="{% url 'dashboard:main' %}" class="btn btn-block btn-theme bg-primary-1 text-white border-0" role="button">{% trans 'Proceed to Dashboard' %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}