{% extends "dashboard/base.html" %}
{% load i18n static %}

{% block styles %}
{% endblock %}

{% block content %}
  <div class="d-inline-flex w-100 align-items-center mb-3">
    <h5 class="text-primary-1"><b>{% trans 'Borrowed Items by Me' %}</b></h5>
  </div>
  <div class="table-responsive">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{% trans 'Item' %}</th>
          <th scope="col">{% trans 'Start Date' %}</th>
          <th scope="col">{% trans 'Term' %}</th>
          <th scope="col">{% trans 'Expired' %}</th>
          <th scope="col">{% trans 'Returned' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in page_obj %}
          <tr>
            <th scope="row">
              {{ item.id }}
            </th>
            <td>{{ item.name }}</td>
            <td>{{ item.created }}</td>
            <td>{% if item.term %}{{ term }}{% else %}{% trans 'No Term' %}{% endif %}</td>
            <td>{{ item.expired|yesno:'Yes,No' }}</td>
            <td>{{ item.returned|yesno:'Yes,No' }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
            <span aria-hidden="true">&laquo; {{ page_obj.previous_page_number }}</span>
          </a>
        </li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">
            <span aria-hidden="true">{{ page_obj.previous_page_number }} &raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}

